.composition{
    position: relative;
    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black,0.4);
        position: absolute;
        z-index: 10;
        outline-offset:2rem ;
        transition: all .2s ease-in;
        &--p1{
            left: 0;
            top:-2rem;
        }
        &--p2{
            right : 0;
            top:2rem;
        }
        &--p3{
            left: 20%;
            top:10rem;
        }
        &:hover{
            z-index: 20;
            box-shadow: 0 2.5rem 4rem rgba($color-black,0.7);
            transform: scale(1.05) translateY(-.5rem);
            outline: 1.5rem solid $color-primary;
        }
    } 
    
    &:hover &__photo:not(:hover){
        transform: scale(0.95);
    }
}